dev:
  doc:
    init_args:
      _target_: modules.dataset_processor.KILT100w
      split: full
  query:
    init_args:
      _target_: modules.processors.mrag_dataset_processor.MKQA
      lang: nl
      split: train
test:
  doc: null
  query: null
train:
  doc: null
  query: null
