evaluate
tensorflow_hub
datasets
pytest
hydra-core
multiprocess
numpy
omegaconf
pandas
peft
pytrec_eval
regex
rouge
scikit_learn
scipy
tensorflow==2.8.0
protobuf==3.20.*
tqdm
transformers
trl
bitsandbytes
tabulate
pytest
langid
fasttext
fasttext-langdetect
